*{
    margin: 0;
    padding: 0;
}
body
{
    /*background-image: url('bg.jpeg');*/
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.taskbar
{
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index:110 ;
}

.startmenu
{
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in;

}
.startmenu img
{
    border-radius: 8px ;
}

.right
{

    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}